@use './partials/variables' as v;
@use './partials/mixins.scss' as m;

.music-container {
    height:90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player{
    height: 100%;
    width: 100%;
    background: rgb(190,122,136);
    background: linear-gradient(0deg, rgba(190,122,136,1) 0%, rgba(106,107,127,1) 100%);
    padding: 1rem 2rem;
    text-align: center;
}

.back {
    height: 4rem;
    width: 4rem;
    filter: invert(100%)
}

.music-nav {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.square-button {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
}

.square-button:hover {
    transform: scale(120%);
}

.song-img {
    width:220px;
    border: 5px solid white;
}

.music-player h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    margin-top: 20px;
}

.music-player p {
    font-size: 1.2rem;
    color: rgb(71, 68, 68);
    margin-top: 1rem;
}

#progress {
    -webkit-appearance: none;
    width: 60%;
    height: 6px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: v.$main-blue;
    width: 30px;
    height: 30px;
    border-radius: 20%;
    border: 4px solid white;
}

.menu-controls {
    display: flex;
    align-items: center;
    width: 50rem;
}

.menu-controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background-color:white;
    display: inline-flex;
    border-radius: 2px;
    cursor: pointer;
}

.music-controls > div > img {
    height: 3rem;
    width: 3.5rem;
    filter: invert(100%);
    margin: 0 2rem;
}

.music-controls > div > img:hover {
    transform: scale(120%);
}