// Colours
$main-blue: rgb(37 90 217);

$light-blue: rgb(211, 229, 251);

$border-blue-one: rgb(73, 143, 235); 

$border-blue-two: rgb(60, 120, 189);

$button-red: rgb(196 78 54); 

$button-yellow: rgb(190 150 22); 

$button-green: rgb(45, 133, 32); 

$folder-yellow: rgb(231 214 125); 

$tray-blue: rgb(17 134 230); 

$menu-blue:rgb(211 229 251); 

$main-grey: rgb(236, 233, 216);

